* {
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

ul{
    display: flex;
    list-style: none;
}

li{
   
}

h1{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

h2{
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    align-content: center;
}

h3{
    color: #f9faf8;
    font-size: 24px;
    font-weight: 900;
}

a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.header{
    display: flex;
    background-color: #1f2937;
    height: 72px;
    padding: 16px 12em;
}

.logo{
    font-size: 24px;
    color: #f9faf8;
}

.links{
    margin-left: auto;
}

.content{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex: 1, 0 auto;
}

.main{
    display: flex;
    padding: 8em 12em;
    gap: 32px;
    background-color: #1f2937;
}

.main p{
    color: #e5e7eb;
    font-size: 18px;
}

.main button{
    font-size: 18px;
    color: #f9faf8;
    background-color: #3882f6;
}

.main-image{
    
    height: 300px;
    width: 100%;
    background-color: grey;
}

.random{
    display: flex;
    flex-direction: column;
    padding: 4em 16em 8em 16em;
    gap: 48px;
    justify-content: center;
    text-align: center;
    
}

.random-container{
    display: flex;
    align-content: center;
    gap: 48px;
    justify-content: center;
}


.card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card p{
    max-width: 150px;
}

.illustration-img{
    width: 150px;
    height: 150px;
    border: 5px solid #3882f6;
}


.inspiration{
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 10em 22em;
}

.testimonial{
    color: #1f2937;
    font-size: 36px;
    font-weight: 300;
}

.autor{
    align-self: flex-end;
}

.call{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 8em 12em;
}

.call p{
    color: #e5e7eb;
    font-size: 18px;
}

.action-text{
    background-color: #3882f6;
    padding: 2rem 8rem;
}

.action-btn{
    background-color: #3882f6;
    display: flex;
    justify-content: center;
    align-content: center;
    
    padding: 2rem 8rem;
}

.footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-content: center;
    background-color: #1f2937;
    color: #f9faf8;
    bottom: 0;
    height: 72px;
}
